/* style css */

* {

text-align: center;


}

.card {

display: inline-block;
background-color: white;
list-style: inside;
text-align: justify;


}

ul{ text-align: justify;}

body { 
    
    background-color: thistle;
    margin: 10px 30px 10px 30px;

}


h1 {

    color: sienna;
    font-family: "Lucida Console", monospace;
}


img {

    width: auto;
    height: 300px;
    border-radius: 50%;
}

li {

    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: left;
}

